<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Busqalo — Encuentra las mejores oferas en productos de tecnología</title>
    <!-- META TAG -->
        <!-- Primary Meta Tags -->
        <title>Meta Tags — Preview, Edit and Generate</title>
        <meta name="title" content="Busqalo — Encuentra los mejores precios en productos de tecnología y más.">
        <meta name="description" content="Encuentra todos los productos en un solo lugar, compara y compra. Usa nuestras distintas herramientas para tu compra.">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.crapishop.com/">
        <meta property="og:title" content="Busqalo — Encuentra los mejores precios en productos de tecnología y más.">
        <meta property="og:description" content="Encuentra todos los productos en un solo lugar, compara y compra. Usa nuestras distintas herramientas para tu compra.">
        <meta property="og:image" content="https://drive.google.com/uc?export=view&id=1PxMMyPtCBJXsdpCbet0wOCTtD3JQpv0o">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.crapishop.com/">
        <meta property="twitter:title" content="Busqalo — Encuentra los mejores precios en productos de tecnología y más.">
        <meta property="twitter:description" content="Encuentra todos los productos en un solo lugar, compara y compra. Usa nuestras distintas herramientas para tu compra.">
        <meta property="twitter:image" content="https://drive.google.com/uc?export=view&id=1PxMMyPtCBJXsdpCbet0wOCTtD3JQpv0o">
    <!-- META TAG -->
    <!--  FAVICON -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--  FAVICON -->
    <!--  VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
    <!--  VIEWPORT -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto+Mono&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Fredoka+One|Open+Sans|Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Cormorant|Lemonada|Merienda|LatoWebLight|Source+Code+Pro|Spectral|Sriracha&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap CSS-->
    <!-- LOCAL CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../../../../../../static/css/estilos.css"> -->
    <link rel="stylesheet" type="text/css" href="../../../../../../static/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../static/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <!-- LOCAL CSS -->
    <!-- Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Bootstrap JS-->
    <!-- JS LOCAL-->
    <script src="static/js/main.js"></script>
    <script src="static/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <!-- JS LOCAL-->
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- JQuery -->
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Slick slider -->
    <style type="text/css">
      .slider {
          width: 80%;
          margin: 20px auto;
      }
      .slick-slide {
          margin: 0px 20px;
      }
      .slick-slide img {
           width: auto;
           max-width: calc(100% - 10px);
      }
      .slick-prev:before,
      .slick-next:before {
           color: black;
      }
      .slick-slide {
           transition: all ease-in-out .3s;
      }
    </style>
</head>


<!-- {% extends 'base.html' %}
{% block content %} -->
<h2 class="category_title"><a href="/{{ category.lower() }}/1">{{ category }} - {{ total_results }} resultados</a></h2>

    <div class="filter-row"> <!-- SEARCH -->
    <p>Refina tu busqueda:</p>
        <form action="" method="get">
            <div class="word_search">
                {% if qsearchw == '' %}
                    <input class="input_search" maxlength="128" name="qsearchw" placeholder="Buscar" type="text">
                {% else %}
                    <input class="input_search" maxlength="128" name="qsearchw" placeholder="Buscar" type="text" value="{{ qsearchw_w }}">
                {% endif %}
            </div>
            <div class="price_search">
                <span>Precio:</span>
                <input class="input_minprice" name="qminprice" type="number" value="{{ qminprice }}" required>
                -
                <input class="input_maxprice" name="qmaxprice" type="number" value="{{ qmaxprice }}" required>
            </div>
            <div class="by_search">
                <select name="orderby">
                    {% if order == '' %}
                        <option selected value="rank">Por popularidad</option>
                        <option value="low_first">Precio menor a mayor</option>
                        <option value="high_first">Precio mayor a menor</option>
                    {% elif order == 'rank'%}
                        <option selected value="rank">Por popularidad</option>
                        <option value="low_first">Precio menor a mayor</option>
                        <option value="high_first">Precio mayor a menor</option>
                    {% elif order == 'low_first'%}
                        <option  value="rank">Por popularidad</option>
                        <option selected value="low_first">Precio menor a mayor</option>
                        <option value="high_first">Precio mayor a menor</option>
                    {% elif order == 'high_first'%}
                        <option  value="rank">Por popularidad</option>
                        <option value="low_first">Precio menor a mayor</option>
                        <option selected value="high_first">Precio mayor a menor</option>
                    {% else %}
                        <option selected value="rank">Por popularidad</option>
                        <option value="low_first">Precio menor a mayor</option>
                        <option value="high_first">Precio mayor a menor</option>
                    {% endif %}
                </select>
            </div>
            <div class="stores-check-search">
                <br>
                {% for store in stores %}
                    {% if store in stores_selected %}
                        <input checked class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}">
                        <label class="stores-check-label" for="{{ store }}">{{ store }}</label>
                    {% else %}
                        <input class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}">
                        <label class="stores-check-label" for="{{ store }}">{{ store }}</label>
                    {% endif %}
                {% endfor %}
            </div>
            <input class="submit_search" type="submit" value="Filtrar">
        </form>
    </div> <!-- SEARCH -->

    {% if data['url'].count() == 0  or max_pag_plus_1 == '' %}
        <br>
        <div class="alert alert-danger" role="alert">
            Producto no encontrado
        </div>
    {% else %}
        <nav aria-label="" class="nav_pagination"> <!-- PAGINATION -->
          <ul class="pagination justify-content-center">
            {% for li in range(1,max_pag_plus_1) %}
                <!-- ACTIVE PAGE -->
                {% if li == page_num %}
                    <form class="_pagination active_pagination" action="" method="get">
                        <input type="number" name="qpage" value="{{ li }}" style="display: none;">
                        <input maxlength="128" name="qsearchw" type="text" value="{{ qsearchw_w }}" style="display: none;">
                        <input name="qminprice" type="number" value="{{ qminprice }}" style="display: none;">
                        <input name="qmaxprice" type="number" value="{{ qmaxprice }}" style="display: none;">
                        <input name="orderby" type="number" value="{{ qmaxprice }}" style="display: none;">
                        <select style="display: none;" name="orderby">
                            {% if order == '' %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'rank'%}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'low_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option selected value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'high_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option selected value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% else %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% endif %}
                        </select>
                        {% for store in stores %}
                            {% if store in stores_selected %}
                                <input checked class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                            {% else %}
                                <input class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                            {% endif %}
                        {% endfor %}
                        <input class="pag_item" type="submit" value="{{ li }}">
                    </form>
                <!-- OTHER PAGES -->
                {% elif page_num <= li <= page_num + 2 or page_num >= li >= page_num - 2 or li >= max_pag_plus_1 - 1 or li == 1 %}
                    <form class="_pagination" action="" method="get">
                        <input type="number" name="qpage" value="{{ li }}" style="display: none;">
                        <input maxlength="128" name="qsearchw" type="text" value="{{ qsearchw_w }}" style="display: none;">
                        <input name="qminprice" type="number" value="{{ qminprice }}" style="display: none;">
                        <input name="qmaxprice" type="number" value="{{ qmaxprice }}" style="display: none;">
                        <input class="pag_item" type="submit" value="{{ li }}">
                        <select style="display: none;" name="orderby">
                            {% if order == '' %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'rank'%}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'low_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option selected value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'high_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option selected value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% else %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% endif %}
                        </select>
                        {% for store in stores %}
                            {% if store in stores_selected %}
                                <div>
                                    <input checked class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                    <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                                </div>
                            {% else %}
                                <div>
                                    <input class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                    <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% endif %}
            {% endfor %}
          </ul>
        </nav> <!-- PAGINATION -->

        <div class="dropdown d-flex justify-content-end top_filter" style="z-index: 3000">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tienda Online
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for store in founded_stor%}
                  <a class="dropdown-item" href="#{{store}}">{{ store }} ({{ amount_result_p_store[store] }})</a>
              {% endfor %}
          </div>
        </div>

        {% for store_data in filter_store %}
            <!-- PRODUCTS -->
            <h2 class="category_title" id="{{ store_data['page'][0] }}">{{ store_data['page'][0] }} ({{ amount_result_p_store[store_data['page'][0]] }})</h2>
                <div class="items_container">

                    {% for row in store_data.itertuples() %}
                        <div class="item">
                            <div class="item_store"><h5>{{ row.page }}</h5></div>
                            <div class="div_img">
                                <img src="{{ row.img }}" alt="image-product">
                            </div>
                            <p class="title_item"><a target="_blank"  href="{{ row.url }}">{{ row.title }}</a></p>
                            <div class="div_prices">
                                {% if row.old_int_price == row.offer_int_price%}
                                    <span class="offer_price"><strong>S/ {{ row.offer_int_price }}</strong></span>
                                {% else %}
                                    <span class="old_price">S/ {{ row.old_int_price }}</span>
                                    <span class="offer_price"><strong>S/ {{ row.offer_int_price }}</strong></span>
                                {% endif %}
                            </div>
                            <a class="button_item_a" href="{{ row.url }}" target="_blank"><button class="button_item">Ver Producto</button></a>
                        </div>
                    {% endfor %}

                </div>
            <!-- PRODUCTS -->
        {% endfor %}

        <nav aria-label="" class="nav_pagination"> <!-- PAGINATION -->
          <ul class="pagination justify-content-center">
            {% for li in range(1,max_pag_plus_1) %}
                <!-- ACTIVE PAGE -->
                {% if li == page_num %}
                    <form class="_pagination active_pagination" action="" method="get">
                        <input type="number" name="qpage" value="{{ li }}" style="display: none;">
                        <input maxlength="128" name="qsearchw" type="text" value="{{ qsearchw_w }}" style="display: none;">
                        <input name="qminprice" type="number" value="{{ qminprice }}" style="display: none;">
                        <input name="qmaxprice" type="number" value="{{ qmaxprice }}" style="display: none;">
                        <input name="orderby" type="number" value="{{ qmaxprice }}" style="display: none;">
                        <select style="display: none;" name="orderby">
                            {% if order == '' %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'rank'%}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'low_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option selected value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'high_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option selected value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% else %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% endif %}
                        </select>
                        {% for store in stores %}
                            {% if store in stores_selected %}
                                <input checked class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                            {% else %}
                                <input class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                            {% endif %}
                        {% endfor %}
                        <input class="pag_item" type="submit" value="{{ li }}">
                    </form>
                <!-- OTHER PAGES -->
                {% elif page_num <= li <= page_num + 2 or page_num >= li >= page_num - 2 or li >= max_pag_plus_1 - 1 or li == 1 %}
                    <form class="_pagination" action="" method="get">
                        <input type="number" name="qpage" value="{{ li }}" style="display: none;">
                        <input maxlength="128" name="qsearchw" type="text" value="{{ qsearchw_w }}" style="display: none;">
                        <input name="qminprice" type="number" value="{{ qminprice }}" style="display: none;">
                        <input name="qmaxprice" type="number" value="{{ qmaxprice }}" style="display: none;">
                        <input class="pag_item" type="submit" value="{{ li }}">
                        <select style="display: none;" name="orderby">
                            {% if order == '' %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'rank'%}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'low_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option selected value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% elif order == 'high_first'%}
                                <option  value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option selected value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% else %}
                                <option selected value="rank" style="display: none;">Por popularidad</option>
                                <option value="low_first" style="display: none;">Precio menor a mayor</option>
                                <option value="high_first" style="display: none;">Precio mayor a menor</option>
                            {% endif %}
                        </select>
                        {% for store in stores %}
                            {% if store in stores_selected %}
                                <input checked class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                            {% else %}
                                <input class="stores-check-input" type="checkbox" name="{{ store }}" value="{{ store }}" id="{{ store }}" style="display: none;">
                                <label class="stores-check-label" for="{{ store }}" style="display: none;">{{ store }}</label>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% endif %}
            {% endfor %}
          </ul>
        </nav> <!-- PAGINATION -->
        <footer class="footer">
            <div class="docs">
                <a href="https://github.com/diegomedflo/" target="_blank" rel="noopener">Created by Diego</a>
                <a href="https://github.com/efrainhgmx/" target="_blank" rel="noopener">Design by Efraín Hernández</a>
            </div>
            <div class="redes">
                <p class="copyright">&COPY; Copyright 2020 CRAPISHOP - Todos los derechos reservados</p>
                <div class="redes__links">
                  <a href="https://www.facebook.com/Crapi-Shop-102647298201955/" target="_blank"><img src="./assets/icons/facebook.svg" alt="facebook"></a>
                  <a href="https://www.youtube.com/" target="_blank"><img src="./assets/icons/youtube.svg" alt="YouTube"></a>
                  <a href="#"><img src="./assets/icons/instagram.svg" alt="Instagram"></a>
                </div>
            </div>
          </footer>
    {% endif %}
{% endblock %}



